examples/apps/app3/proxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://kortforsyningen.kms.dk/" xmlns:intf="http://kortforsyningen.kms.dk/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kortforsyningen.kms.dk/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kortforsyningen.kms.dk/">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="PointVO">
        <sequence>
          <element name="SRS" nillable="true" type="xsd:string"/>
          <element name="x" nillable="true" type="xsd:decimal"/>
          <element name="y" nillable="true" type="xsd:decimal"/>
        </sequence>
      </complexType>
      <complexType name="HeightVO">
        <sequence>
          <element name="height" nillable="true" type="xsd:decimal"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="getHeightForCoordinateResponse">
    <wsdl:part name="getHeightForCoordinateReturn" type="impl:HeightVO"/>
  </wsdl:message>
  <wsdl:message name="getHeightForCoordinateRequest">
    <wsdl:part name="point" type="impl:PointVO"/>
    <wsdl:part name="login" type="xsd:string"/><wsdl:part name="password" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="HeightModel">
    <wsdl:operation name="getHeightForCoordinate" parameterOrder="point login password">
      <wsdl:input message="impl:getHeightForCoordinateRequest" name="getHeightForCoordinateRequest"/>
      <wsdl:output message="impl:getHeightForCoordinateResponse" name="getHeightForCoordinateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="heightSoapBinding" type="impl:HeightModel">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHeightForCoordinate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getHeightForCoordinateRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://kortforsyningen.kms.dk/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getHeightForCoordinateResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://kortforsyningen.kms.dk/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HeightModelService">
    <wsdl:port binding="impl:heightSoapBinding" name="height">
      <wsdlsoap:address location="http://kortforsyningen.kms.dk/dhm_t?service=GEO&amp;request=SOAP&amp;login=demo&amp;password=demo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
